	body{
		background-color:#D8DEE9;
	}
	h1{
		color:#8FBCBB;
	}
	h2{
		color:#8FBCBB;
	}
	h3{
		color:#8FBCBB;
	}
	hr{
		border-color: white;
		border-width: 5px;
		border-style: dotted none none none;
		width: 10%;
		height:1px;
	}
	img{


	}
